@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    overflow: hidden;
    transition-duration: .3s, .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background-color: #5F2C82;
    background: url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left, bottom;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

.campo > label{
    display: none;
}

div.campo > .material-icons{
    color: white;
    width: 25px;
    font-size: 2em;
    padding: 5px;
    
}

div.campo > input{
    background-color: #94CFCD;
    font-size: 0.9em;
    width: calc(100% - 48px);
    height: 100%;
    border-radius: 8px;
    border: none;
    padding: 0px 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}

.campo{
    background-color: #5F2C82;
    border-radius: 8px;
    border: 2px solid #5F2C82;
    height: 40px;
    width: 100%;
    margin: 5px 0px;
    
}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #52b8b4;
    border: none;
    cursor: pointer;
    margin: 7px 0px;
}

form > input[type=submit]:hover{
    background-color: #2D6462;
}

form > a{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: #265a58;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid #6CD3CF;
    
}

form > a > .material-icons{
    font-size: 1.2em;
    padding: 6px;
}

form > a:hover{
    background-color: #6CD3CF;
}


